<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.giang.mapper.UserMapper'>

	<select id='checkLogin' resultType='User' parameterType="User">
		SELECT user_name
		FROM user
		WHERE user_name=#{user_name}
		and password=#{password}
	</select>

</mapper>